// /* Mixins */

@mixin container($width: 90%, $max-width: 80em) {
    width: $width;
    margin: 0 auto;
    max-width: $max-width;
}

/* media queries */

@mixin bp--phone-only {
    @media (max-width: 480px) { @content };
}
// @mixin bp--