// /* Mixins */

@mixin container($width: 90%, $max-width: 80em) {
    width: $width;
    margin: 0 auto;
    max-width: $max-width;
}

/* media queries */

@mixin bp--xs {
    @media (max-width: 480px) { @content };
}
@mixin bp--sm {
    @media (min-width: 481px) { @content };
}
@mixin bp--md {
    @media (min-width: 736px) { @content };
}
@mixin bp--lg {
    @media (min-width: 980px) { @content };
}
@mixin bp--xl {
    @media (min-width: 1200px) { @content };
}

