/* Reset */

html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

// images
img {
  display: block;
  width: 100%;
}

figure {
  margin: 0;
  padding: 0;
}