@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500i,700|Proza+Libre');

/* Variables
 * ===============
 *
 * All variables and most of the configuration are defined on this page. */

$primary-color: rgba(50, 103, 113, 1);
$secondary-color: rgba(243, 255, 250, 1);
$accent-color: rgba(255, 141, 135, 1);
$background: $secondary-color;
$alternate-background: rgba(237, 183, 201, 1);
$text-dark: #404040;
$text-light: $secondary-color;
$link-color: $accent-color;
$link-hover-color: lighten($link-color, 15%);
$scrim: rgba(42,51,86,.9);
$third-color: rgba(85, 138, 153, 1);

// type
$font-headings: 'Cormorant Garamond', serif;
$font-stack: 'Proza Libre', sans-serif;
$font-mono: Consolas, "DejaVu Sans Mono", "Courier 10 Pitch", Courier, monospace;
