.main-header {
  background: $accent-color;
  top: 0;
  left: 0;
  // right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition-duration: 0.2s;
  transition-timing-function: ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 1000;
  color: $text-light;
  padding: 1em;
  background-color: transparent;
}

.main-header.alt {
  background-color: $accent-color;
}

.logo {
  min-width: 4em;
  max-width: 5em;
  margin: .5em 0;

}
