.hero {
  background-color: $accent-color;
  background-image: url(../../../dist/images/night-canyon-large.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px solid $accent-color;
  color: $text-light;
  position: relative;
  width: 100%;
  padding: 4em 0 1em 0;
  text-align: center;
  min-height: 0;

}
.hero-inner {
  margin: 1em auto 0  ;
}
