.hero {
  background-color: $accent-color;
  background-image: url(../../../dist/images/night-canyon-large.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 10px solid $accent-color;
  color: $text-light;
  position: relative;
  flex-flow: column;
  // width: 100%;
  padding: 0;
  // text-align: center;
  // min-height: 0;
  h1 {
    font-size: 4rem;
    text-transform: uppercase;
    font-weight: normal;
    span {
      color: $accent-color;
    }
  }
  h2 {
    font-family: $font-ss;
    font-weight: lighter;
  }

}