.stats-section {
    @include container;
    padding: 5em 0 3em 0;
    background-color: $accent-color;
    display: flex;
    justify-content: space-between;
    color: $secondary-color;
    article {
        padding: 0 1.5em;
        h3 {
            color: inherit;
            span {
                display: block;
                font-size: 2em;
                font-weight: 300;
                line-height: 1;
                margin-bottom: .25em;
            }
        }
        p {
            font-weight: 100;
        }
    }
}